@import "../styles/theme";
@import "../styles/viewports";

a {
  text-decoration: none;
  color: var(--text-darker);
}

div.spinner {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
}

div.poolOverview {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  button.button.large {
    width: 135px;
    height: 35px;
    font-size: 15px;
  }

  @include breakpoint(lg) {
    button.button.large {
      width: 100%;
    }
  }

  h4.title {
    width: 100%;
    font-family: $font-family-title;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: $bold;
    color: var(--text-title);
  }

  .tokens {
    display: flex;
    flex-direction: row;
    grid-row: 5/6;
  }

  @include breakpoint(lg) {
    .tokens {
      justify-content: center;
    }
  }

  .table {
    background: var(--background-element);
    width: 100%;
    box-shadow: var(--shadow);
    border: 3px solid var(--outline);
    border-radius: 27px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &:hover {
      box-shadow: var(--shadow-hover);
      //padding: 30px;
      border: 2px solid var(--outline);
    }
  }

  .left {
    display: grid;
    grid-template-rows: 40px 24px 22px 10px 20px;
    width: 50%;
  }

  @include breakpoint(lg) {
    .left {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    .margin {
      margin-right: 24px;
    }
    .poolInfo {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
    }
    .buttons {
      justify-content: flex-end;
      display: flex;
      width: 445px;
      align-self: end;
      justify-self: end;
      grid-template-columns: 176px 176px;
      grid-column-gap: 16px;
      -webkit-column-gap: 16px;
      column-gap: 16px;
      flex-wrap: wrap;
    }

    @include breakpoint(lg) {
      .poolInfo {
        margin-bottom: 1rem;
        justify-content: center;

        .Apy {
          text-align: center;
          margin: 0;
          margin-bottom: 1rem;
          width: 100%;
        }
      }
      .buttons {
        width: 100%;
      }
    }
  }

  @include breakpoint(lg) {
    .right {
      width: 100%;
    }
  }

  .title {
    margin-right: 16px;
  }

  div.token {
    display: flex;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    & > img {
      width: 18px;
      margin-right: 4px;
      vertical-align: text-top;
    }
  }

  div.right {
    & > div {
      &.volume {
        margin-right: 0;
      }

      span.label {
        display: block;
        font-size: 15px;
        margin-bottom: 4px;
      }

      span {
        font-family: "Inter", monospace;
        font-size: 18px;
      }

      .plus {
        font-weight: $medium;
        color: var(--text-selected);
      }
      .minus {
        font-weight: $medium;
        color: $error;
      }
    }
  }
}
